[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = "0.10"
ic-cdk = "0.13"
ic-cdk-timers = "0.7"
serde = "1.0"
serde_bytes = "0.11"
hex = "0.4"
sha2 = "0.10"
icrc-ledger-types = "0.1"